spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:~/test
    username: sa
    password:
    driver-class-name: org.h2.Driver


  jwt:
    secret: ${kt.jwt.secret:kt-cloud-tech-up-shopping-202511171107}
    access-token-expiration: ${kt.jwt.access-token-expiration:300000} #5분
    refresh-token-expiration: ${kt.jwt.refresh-token-expiration:43200000} #12시간